<%= form_with(model: comic) do |form| %>
  <% if comic.present? && comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
        <% comic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category, options_for_select([['少年・青年', 'boy'], ['少女・女性', 'girl']]), prompt: 'カテゴリーを選択してください' %>
  </div>

  <div class="field rating">
    <div class="rating-label">評価</div>
      <div class="rating">
        <label><%= form.radio_button :rating, 1 %>1</label>
        <label><%= form.radio_button :rating, 2 %>2</label>
        <label><%= form.radio_button :rating, 3 %>3</label>
        <label><%= form.radio_button :rating, 4 %>4</label>
        <label><%= form.radio_button :rating, 5 %>5</label>
      </div>
  </div>

  <div class="actions">
    <%= form.submit '保存' %>
  </div>
<% end %>
