<div class="comics-index">
  <%= form_with(model: @comic) do |form| %>
    <p id="notice"><%= notice %></p>

    <h1>少女・女性</h1>

    <div class="btn-container">
      <%= link_to 'ホーム', comics_path, class: 'btn btn-home' %>
      <%= link_to 'オススメ', high_rated_comics_path, class: 'btn btn-high-rated' %>
      <%= link_to '少年・青年', boy_comics_path, class: 'btn btn-boy' %>
      <%= link_to '少女・女性', girl_comics_path, class: 'btn btn-girl' %>
    </div>

    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% if @comics.present? %>
          <% @comics.each do |comic| %>
            <tr>
              <td><%= comic.title %></td>
              <td><%= comic.content %></td>
              <td><%= link_to '詳細', comic_path(comic) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3">表示できるデータがありません。</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
